.container {
    lost-center: 980px;
    font-family: $courier;
}

header {
    lost-center: 980px;
}

div {
  lost-column: 1/2 2 10px;
  border: 1px solid aqua;
  margin-bottom: 10px;
  background: red;
}

div:hover {
    background-color: facebook-color;
}


section {
    lost-utility: clearfix;
    z-index: 1001;
}

h3 {
    font-size: 1.2rem;
}
