/*
 * STYLUS SMACSS boilerplate v1.0
 * Structure Inspired by Jonathan Snook : http://smacss.com
 * Author: @maxime beaudoin
 * Date: May 11 2014
 *
 * Doc : https://github.com/justinmwatts/SMACSS // http://smacss.com
 */


/* TOOL */
@import 'tool/site-settings';
// @import 'tool/mixins';
// @import 'tool/functions';
// @import 'tool/helpers';



/* VENDORS */
// @import 'vendors/owlCarousel';



/* BASE */
@import 'base/normalize';
@import 'base/base';
@import 'typographic';
// @import 'base/form';



/* LAYOUT */
// @import 'layout/nagivation';
// @import 'layout/global';
// @import 'layout/header';
// @import 'layout/sidebar';



/* MODULE */
@import 'module/fake';
// @import 'module/btn';
// @import 'module/carousel';
// @import 'module/dropdown';



/* STATE */
// @import 'state/state';



/* THEME */
// @import 'theme/theme';



/* SHAME FILE */
// @import 'shame/shame';
